html, body { /* min-height:800px;*/ }

html{ 
	background:#999; 
}

body{ 
	font-family:Helvetica, Arial, sans-serif; 
	color:#333; 
	font-size:12px; 
	line-height:1.5; 
	min-width:800px;
	padding-top:60px;
}

.hidden{
	display:none;
}

.center{ 
	text-align:center; 
}

h1{
	text-align:center; 
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size:24px;
	color:#fff;
}

ul span{
	font-weight:bold;
}

.errorMsg{
	color:#FF0000;
	font-weight:bold;	
}

.container { 
	/*border:2px solid #1989CB;*/
	text-align:left; 
	margin:20px; 
	float:left;
	width:45%;
}
.container > .header{ 
	background:#336699;
	border-bottom:1px solid #990099;
	color:#fff; 
	font-size:15px; 
	padding:6px 10px;
	cursor:pointer;
}

.container > .content{ 
	padding:8px; 
	background-color:#fff;
	overflow:auto;
}

#urlForm{ 
	background:#fff;
	text-align:center;
	padding:20px;
	border-top:1px solid #990099;
	border-bottom:1px solid #990099;
}

#pageFrame iframe{
	width:100%;
}

ul ul{
	margin-left:15px;
}


