<html>

#parse( "head.vm" )

	<body id="GetSnapShot" class="center">
		<h1>Webpage Snapshot Demo</h1>
		<div id="urlForm" >
			Enter a URL <input type="text" id="urlTxtBox" name="url" size="70" /> <input id="submitBtn" type="button" value="Submit" />
			<div class="errorMsg"></div>
		</div>
		
		<div class="container hidden" id="metaData" >
			<div class="header">Meta Data</div>
			<div class="content">
				<ul id="metaList"></ul>
			</div>
		</div>
		
		<div class="container hidden" id="pageFrame" >
			<div class="header"></div>
			<div class="content">
				<iframe></iframe>
			</div>
		</div>
		
		<div class="container hidden" id="pageContent" >
			<div class="header">Page Content</div>
			<div class="content">
				<pre></pre>
			</div>
		</div>

		
		<script type="text/javascript">
			$(document).ready(function(){
				SNAPSHOT.init();
			});
		</script>
		
	</body>
</html>